<footer class="footer">
<div class="container" >
        <div class="text-uppercase mb-4" >
            <h4 class = "row">hjk portfolio</h4>
            <hr/>
        </div>
    </div>
    <div class="container" >
        <div class="row" style="justify-content: space-between; ">
            <!-- Footer Info-->
            <div>
                <h4 class="text-uppercase mb-4">Info</h4>
                <p class="lead">
                    developer : hjk
                    <br/>
                    developer period : 2020.10~
                    <br/>
                    <button class="btn btn-secondary" type="button" id="login_text" onclick="pushedLoginBtn()">관리자 로그인</button>
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fas fa-fw fa-blog"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-google"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © hjk Website</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
    </div>


