<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="/header"></th:block>

<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
        <!-- Masthead-->
        <header class="masthead text-black text-center">
            <div class="container d-flex align-items-center flex-column">
              <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
                <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
              </tmpstyle>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">자기소개</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">저에 대해 알려드립니다.</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio bg-primary" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <div class="mb-5">
                  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hjk</h2>
                  <h4 class=" text-center text-uppercase text-secondary mb-0">java backend developer</h4>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                      <div class="divider-custom-line"></div>
                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                      <div class="divider-custom-line"></div>
                  </div>
                </div>
                <!-- Portfolio Section Content-->
                <div class="row text-black">
                  <div class="col-lg-4 ml-auto">
                    <img src="assets/img/hjkinfo.jpg" alt="my photo" style="width:80%; height:auto;"/>
                  </div>
                  <div class="col-lg-4 mr-auto"><p class="lead"> 자기소개 설명 </p></div>
                </div>
              </div>
            </div>
          </section>

        <!-- Footer-->
        <div th:replace="/footer"></div>
    </body>
</html>
