<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>로그인</title>
<th:block th:replace="/header"></th:block>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
  <!-- Masthead-->
  <header class="masthead text-black text-center">
    <div class="container d-flex align-items-center flex-column">
      <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
        <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
      </tmpstyle>
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">관리자 로그인</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">현재 관리자만 이용 가능한 기능입니다.</p>
    </div>
  </header>

  <!-- Portfolio Section-->
  <section class="page-section portfolio bg-primary" id="login">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">login</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Section Content-->
      <div class="row justify-content-center text-black">
        <div class="col-lg-4 ml"><p class="lead">
          <form id="login_form" method="POST" action="/login">
            <div class="form-group">
              <span class="mb-5 row justify-content-center">현재 관리자만 이용할 수 있는 기능입니다.</span>
              <input type="text" class="form-control" id="id" name="admin_id" placeholder="id">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
          <input type="hidden" value="0" name="uid">
          <input type="hidden" value="someone" name="name">

            <div class="form-group row justify-content-center my-2">
              <button type="button" class="btn btn-secondary btn-block" onclick="check_input()">확인</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<input type="hidden" id="login_message" th:value="${message}"></input>

<!-- modal -->
<div th:replace="@{/modal}"></div>
<!-- Footer-->
<div th:replace="@{/footer}"></div>

</body>
<script th:inline="javascript" th:src="@{/js/modal.js}"></script>
<script src="/js/login.js"></script>
<script src="/js/common.js"></script>

</html>
