<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="/header"></th:block>

<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
  <!-- Masthead-->
  <header class="masthead text-black text-center">
    <div class="container d-flex align-items-center flex-column">
      <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
        <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
      </tmpstyle>
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">프로젝트</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">이제까지 진행한 프로젝트 목록입니다.</p>
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
      <div class="container">
        <div>
          <!-- title Heading-->
          <h2 class="page-section-heading text-uppercase text-secondary mb-0">프로젝트 목록</h2>
          <hr />
        </div>
        <div class="row justify-content-md-center my-5">
          <!-- 검색창 -->
          <form action="" method="GET">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>선택</option>
                  <option value="1">제목</option>
                  <option value="2">제목+설명</option>
                  <option value="3">태그</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="text" class="form-control" id="customControlAutosizing">
                </div>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">검색</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 게시판 -->
      <div name="project-list"  class="container">
        <div class="pb-3">
          <div name="list1" class="row" >
            <div class="col-4 imageContainer" >
              <img src="assets/img/no-image.png" alt="image" />
            </div>
            <div class="col-8" >
              <div class="ext-row">
                <div class="pt-3" style="display: flex;
                flex-direction: row; justify-content: space-between; ">
                <span>
                  <h4 style="display:inline;">프로젝트명</h4>
                  <img src="assets/img/project/second.png" alt="2 grade" style="width:2.5em;"/>
                  <img src="assets/img/project/team.png" alt="team project" style="width:2.5em;"/>
                </span>
                <span>
                  <!-- drop down -->
                  <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">수정</a>
                      <a class="dropdown-item" href="#">삭제</a>
                    </div>
                  </div>
                </span>
              </div>
              <div>
                내용설명
              </div>
            </div>
          </div>
          <div class="pb-3">
            <button type="button" class="btn btn-outline-info">#java</button>
            <button type="button" class="btn btn-outline-info">#mysql</button>
          </div>
        </div>
        <div class="pb-3">
          <div name="list1" class="row" >
            <div class="col-4 imageContainer" >
              <img src="assets/img/no-image.png" alt="image" />
            </div>
            <div class="col-8" >
              <div class="ext-row">
                <div class="pt-3" style="display: flex;
                flex-direction: row; justify-content: space-between; ">
                <span>
                  <h4 style="display:inline;">프로젝트명</h4>
                  <img src="assets/img/project/second.png" alt="2 grade" style="width:2.5em;"/>
                  <img src="assets/img/project/team.png" alt="team project" style="width:2.5em;"/>
                </span>
                <span>
                  <!-- drop down -->
                  <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">수정</a>
                      <a class="dropdown-item" href="#">삭제</a>
                    </div>
                  </div>

                </span>
              </div>
              <div>
                내용설명
              </div>
            </div>
          </div>
          <div class="pb-3">
            <button type="button" class="btn btn-outline-info">#java</button>
            <button type="button" class="btn btn-outline-info">#mysql</button>
          </div>
        </div>
      </div>
      <div class="container">
        <button type="button" class="btn btn-dark" onclick="location.href='/write-project'">글쓰기</button>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>

    </section>

    <!-- Footer-->
<div th:replace="/footer"></div>
  </body>
  </html>
