<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Error page</title>
<th:block th:replace="/header"></th:block>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
  <!-- Masthead-->
  <header class="masthead text-black text-center">
    <div class="container d-flex align-items-center flex-column">
      <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
        <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
      </tmpstyle>
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">프로젝트</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">이제까지 진행한 프로젝트 목록입니다.</p>
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
      <div class="container">
        <div>
          <!-- title Heading-->
          <h2 class="page-section-heading text-uppercase text-secondary mb-0">프로젝트 목록</h2>
          <hr />
        </div>
        <div class="row justify-content-md-center my-5">
          <!-- 검색창 -->
          <form action="" method="GET">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>선택</option>
                  <option value="1">제목</option>
                  <option value="2">제목+설명</option>
                  <option value="3">태그</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="text" class="form-control" id="customControlAutosizing">
                </div>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">검색</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 게시판 -->
      <div name="project-list"  class="container">
        <input type="hidden" id="list" name="list" th:value="${checkCode}"/>
        <input type="hidden" id="startPage" name="startPage" th:value="${pageMaker.startPage - 1}"/>

        <div class="mb-5" id="error-div">
          <br>
          <br>
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Error</h2>

          <!-- Icon Divider-->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-exclamation-triangle"></i></div>
            <div class="divider-custom-line"></div>
          </div>
          <div>
            <h4 class=" text-center text-uppercase text-secondary mb-0">페이지 범위가 잘못되었습니다.
          </div>
          <br>
          <br>
        </div>

        <div class="pb-3" id="project-list">
          <div  th:each="post : ${projectList}" name="list1" class="row" >
            <div class="col-4 imageContainer" >
              <img src="assets/img/no-image.png" alt="image" />
            </div>
            <div class="col-8" >
              <div class="ext-row">
                <div class="pt-3" style="display: flex;
                flex-direction: row; justify-content: space-between; ">
                <span>
                  <a th:href="@{project(id=${post.uid})}"><h2 style="display:inline;" th:text="${post.title}"></h2></a>
                  <img th:src="@{${'/assets/img/project/' + post.gradeType + '_grade.png'}}" alt="grade" style="width:2.5em;"/>
                  <img th:if="${post.projectType}" src="assets/img/project/team.png" alt="team project" style="width:2.5em;"/>
                </span>

                  <!-- drop down -->
                <span th:if="${session.uid == post.writerUid}">
                  <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" th:href="@{/project/update(id=${post.uid})}">수정</a>
                      <a class="dropdown-item" th:href="@{/project/delete(id=${post.uid})}">삭제</a>
                    </div>
                  </div>
                </span>

              </div>
              <div th:text="${post.summary}"/>
            </div>
          </div>
          <div class="pb-3">
            <button type="button" class="btn btn-outline-info">#java</button>
            <button type="button" class="btn btn-outline-info">#mysql</button>
          </div>
        </div>
      </div>

      </div>
      <div class="container">
        <form id="pageForm" method="get">
          <input type="hidden" name="pageNum" value="${pageMaker.criteria.pageNum }">
          <input type="hidden" name="amount" value="${pageMaker.criteria.amount }">
        </form>

        <button type="button" class="btn btn-dark" id="write-post" onclick="location.href='/write-project'">글쓰기</button>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <li th:if="${pageMaker.prev} == true" class="page-item">
              <a class="page-link" th:href="@{/project-list(pageNum=${pageMaker.startPage - 1}, amount=${pageMaker.criteria.amount})}">Previous</a>
            </li>

            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
              <li th:class="${num} == ${pageMaker.criteria.pageNum} ? 'page-item active' : 'page-item'"><a class="page-link" th:href="@{/project-list(pageNum=${num}, amount=${pageMaker.criteria.amount})}" th:text="${num}"></a></li>
            </th:block>

            <li th:if="${pageMaker.next} == true" class="page-item">
              <a class="page-link" th:href="@{/project-list(pageNum=${pageMaker.endPage + 1}, amount=${pageMaker.criteria.amount})}">Next</a>
            </li>

          </ul>
        </nav>
      </div>

    </section>

    <!-- Footer-->
<div th:replace="/footer"></div>
  </body>
<script th:inline="javascript" th:src="@{/js/project-list.js}"></script>
<script src="/js/common.js"></script>
  </html>
