<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error page</title>
<th:block th:replace="/header"></th:block>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
<!-- Masthead-->
<header class="masthead text-black text-center">
    <div class="container d-flex align-items-center flex-column">
        <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
            <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
        </tmpstyle>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">업데이트</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">웹 포트폴리오 사이트 업데이트 사항을 모아둔 게시판입니다.</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-uppercase text-secondary mb-0">업데이트</h2>
            <hr />

            <input type="hidden" id="user-uid" name="user-uid" th:value="${session.uid}"/>
            <form id="post_form" name="post_form" method="post" action="">
            <!-- 게시판 -->
            <div id="update-post">
                    <table class="table table-bordered table-responsive-lg">

                        <input type="hidden" id="uid" name="uid" th:value="${updatePost.uid}"/>
                        <input type="hidden" id="writerUid" name="writerUid" th:value=${updatePost.writerUid} />
                        <input type="hidden" id="note" name="note" th:value=${updatePost.note} />
                        <input type="hidden" id="title" name="title" th:value="${updatePost.title}"/>
                        <input type="hidden" id="name" name="name" th:value="${updatePost.name}"/>
                        <input type="hidden" id="contents" name="contents" th:value="${updatePost.contents}"/>

                        <colgroup>
                            <col width="15%"/>
                            <col width="35%"/>
                            <col width="15%"/>
                            <col width="35%"/>
                        </colgroup>
                        <tr th:class="${updatePost.note}? 'text-center post-note' : 'text-center'">
                            <td >제목</td>
                            <td colspan="3" th:text="${updatePost.title}"></td>
                        </tr>
                        <tr class="text-center">
                            <td>작성자</td>
                            <td th:text="${updatePost.name}"></td>
                            <td>작성일</td>
                            <td id="writeDate" name="writeDate" th:text="${#dates.format(updatePost.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        <tr>
                            <td colspan="4" ><div style="padding: 20px; min-height:400px;" th:text="${updatePost.contents}">

                            </div></td>
                        </tr>
                    </table>

            </div>
            <div class="row justify-content-md-center ml-3">
                <button type="button" id="update_btn" class="btn btn-dark" onclick="check_update_post()">수정</button>
                <button type="button" id="delete_btn" class="btn btn-dark" onclick="check_delete_post()">삭제</button>
                <button type="button" class="btn btn-dark" onclick="location.href='update-list'">돌아가기</button>
            </div>

            </form>
        </div>
    </div>
</section>

<!-- modal -->
<div th:replace="@{/modal}"></div>
<!-- Footer-->
<div th:replace="@{/footer}"></div>
</body>

<script th:inline="javascript" th:src="@{/js/modal.js}"></script>
<script th:inline="javascript" th:src="@{/js/update.js}"></script>
<script src="/js/common.js"></script>
</html>
