<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>업데이트</title>
<th:block th:replace="/header"></th:block>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
        <!-- Masthead-->
        <header class="masthead text-black text-center">
            <div class="container d-flex align-items-center flex-column">
              <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
                <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
              </tmpstyle>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">업데이트</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">웹 포트폴리오 사이트 업데이트 사항을 모아둔 게시판입니다.</p>
            </div>
        </header>

        <!-- Portfolio Section-->
        <section class="page-section portfolio bg-primary" id="portfolio">
            <div class="container">
              <div class="container">
                  <!-- Portfolio Section Heading-->
                  <h2 class="page-section-heading text-uppercase text-secondary mb-0">업데이트</h2>
                  <hr />
                  <input type="hidden" id="list" name="list" th:value="${checkCode}"/>

                  <div class="mb-5" id="error-div">
                      <br>
                      <br>
                      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Error</h2>

                      <!-- Icon Divider-->
                      <div class="divider-custom">
                          <div class="divider-custom-line"></div>
                          <div class="divider-custom-icon"><i class="fas fa-exclamation-triangle"></i></div>
                          <div class="divider-custom-line"></div>
                      </div>
                      <div>
                          <h4 class=" text-center text-uppercase text-secondary mb-0">페이지 범위가 잘못되었습니다.
                      </div>
                      <br>
                      <br>
                  </div>

                  <!-- 게시판 -->
                  <div id="update-list">
                      <table class="table text-center table-bordered table-responsive-lg">
                        <colgroup>
                          <col width="10%"/>
                          <col width="60%"/>
                          <col width="15%"/>
                          <col width="15%"/>
                        </colgroup>
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="post: ${updateList}" th:class="${post.note} == 1 ? 'table-primary'">
                                  <td th:text="${post.uid}" />
                                  <td ><a th:class="${post.note} == 1 ? 'post-note'" th:href="@{/update(id=${post.uid})}" th:text="${post.title}" ></a></td>
                                  <td th:text="${post.name}" />
                                  <td th:text="${post.writeDate}" />
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div>
                        <form id="pageForm" method="get">
                            <input type="hidden" name="pageNum" value="${pageMaker.criteria.pageNum }">
                            <input type="hidden" name="amount" value="${pageMaker.criteria.amount }">
                        </form>
                      <button type="button" class="btn btn-dark" id="write-post" onclick="location.href='/write-update'">글쓰기</button>

                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">

                            <li th:if="${pageMaker.prev} == true" class="page-item">
                                <a class="page-link" th:href="@{/update-list(pageNum=${pageMaker.startPage - 1}, amount=${pageMaker.criteria.amount})}">Previous</a>
                            </li>

                            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                <li th:class="${num} == ${pageMaker.criteria.pageNum} ? 'page-item active' : 'page-item'"><a class="page-link" th:href="@{/update-list(pageNum=${num}, amount=${pageMaker.criteria.amount})}" th:text="${num}"></a></li>
                            </th:block>

                            <li th:if="${pageMaker.next} == true" class="page-item">
                            <a class="page-link" th:href="@{/update-list(pageNum=${pageMaker.endPage + 1}, amount=${pageMaker.criteria.amount})}">Next</a>
                          </li>

                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
<div th:replace="/footer"></div>
    </body>

<script th:inline="javascript" th:src="@{/js/update-list.js}"></script>
<th:block th:replace="/jscript"></th:block>
</html>
