<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>프로젝트 글 작성</title>
<th:block th:replace="/header"></th:block>
  <meta>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="/nav::nav"></div>
  <!-- Masthead-->
  <header class="masthead text-black text-center">
    <div class="container d-flex align-items-center flex-column">
      <tmpstyle style="background-color:white; opacity:0.3; z-index:-1;">
        <img src="assets/img/main_image.jpg" title="메인 이미지" alt="메인 이미지" style="position:absolute; top:0; left:0; width: 100%; height: 80%; z-index:-1"/>
      </tmpstyle>
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">프로젝트</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">새 프로젝트 추가.</p>
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
      <div name="title" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <!-- project title Heading-->
        <div >
          <h2 class="page-section-heading text-uppercase text-secondary mb-0" style="display:inline;">글쓰기</h2>
        </div>
      </div>
      <div name="hr" class="my-5">
        <hr />
      </div>
    </div>

      <form id="project_write_form" >
        <input type="hidden" id="uid" name="uid" th:value="${project != null ? project?.uid : 0}"/>
        <input type="hidden" id="writerUid" name="writerUid" th:value="${session.uid}"/>
        <input type="hidden" id="projectType" name="projectType" th:value="${project?.projectType}"/>
        <input type="hidden" id="gradeType" name="gradeType" th:value="${project?.gradeType}"/>
        <div class="container">
        <div class="form-group row">
          <label for="title" class="col-sm-1 col-form-label">제목</label>
          <div class="col-sm-6">
            <input class="form-control" id="title" name="title" type="text" th:value="${project?.title}"/>
          </div>
          <div class="col-5">
            <span class="mx-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="grade" id="grade1" value="1" checked="checked">
                <label class="form-check-label" for="grade1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="grade" id="grade2" value="2">
                <label class="form-check-label" for="grade2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="grade" id="grade3" value="3">
                <label class="form-check-label" for="grade3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="grade" id="grade4" value="4">
                <label class="form-check-label" for="grade4">4</label>
              </div>
            </span>
            <span class="col-5">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="isTeam"/>
                <label class="form-check-label" for="isTeam">팀 프로젝트</label>
              </div>
            </span>
          </div>
        </div>
        </div>

        <div class="container">
        <div class="form-group row">
                <label for="startedDate" class="col-3 col-form-label">개발 기간</label>
                  <input class="form-control col-sm-4" id="startedDate" name="startedDate" type="date" th:value="${#dates.format(project?.startedDate, 'yyyy-MM-dd')}"/>
                <label for="endedDate" class="col-sm-1 col-form-label">~</label>
                  <input class="form-control col-sm-4" id="endedDate" name="endedDate" type="date" th:value="${#dates.format(project?.endedDate, 'yyyy-MM-dd')}"/>

        </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <div class="col-1">
            <label for="tag">태그</label>
          </div>
          <div class="col-sm-3">
            <input class="form-control" id="tag" type="text" />
          </div>
          <div class="col-sm-3">
            <input class="btn btn-secondary" type="button" value="+"/>
          </div>
        </div>
        </div>

        <div class="container">
          <div class="form-group row">
            <div class="col-1">
              <label for="tag">사용 기술</label>
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="techStack" type="text" th:value="${project?.techStack}"/>
            </div>
          </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <label for="summary">개요</label>
          <textarea class="form-control" id="summary" name="summary" rows="5">[[${project?.summary}]]</textarea>
        </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <label for="part">담당 부분</label>
          <textarea class="form-control" id="part" name="part" rows="5">[[${project?.part}]]</textarea>
        </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <div class="col-sm-2">
            <img src="assets/img/no-image.png" alt="" style="width:50%; height:auto;"/>
          </div>
          <div class="col-sm-3 border" >
            <label for="file" class="d-flex justify-content-between" id="file_label" name="file_label">이미지 첨부하기</label>
            <input type="file" style="display: none" class="form-control-file" id="file" name="file" accept=".gif, .jpg, .png" multiple>
          </div>
          <div id="preview" class="col border overflow-auto" style="max-height: 200px;">

          </div>
        </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <label for="review">느낀 점</label>
          <textarea class="form-control" id="review" name="review" rows="5" >[[${project?.review}]]</textarea>
        </div>
        </div>

        <div class="container">
        <div class="form-group row">
          <label for="link">참고 링크</label>
          <input type="text" id="link" name="link" class="form-control custom-control-inline" th:value="${project?.link}" />
        </div>
        </div>

        <div class="row justify-content-md-center my-5">
        <span class=" mx-3">
        <button type="button" class="btn btn-dark" onclick="check_input()">작성</button>
        </span>
          <span class=" mx-3">
        <button type="button" class="btn btn-dark" onclick="location.href='/project-list'">취소</button>
        </span>
        </div>
      </form>

</section>

<!-- modal -->
<div th:replace="@{/modal}"></div>
<!-- Footer-->
<div th:replace="@{/footer}"></div>
</body>
<script th:inline="javascript" th:src="@{/js/write-project.js}"></script>
<script th:inline="javascript" th:src="@{/js/modal.js}"></script>
<script src="/js/common.js"></script>
</html>
